<div class="faq-container">
  <div class="faq-container__header">
    <div class="faq-container__header-title">
      <div class="faq-container__header-title-icon">
        <mat-icon>minimize</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <mat-icon>minimize</mat-icon>
      </div>
      <h2 class="faq-container__header-title-topic">Frequently Asked Questions</h2>
    </div>
<!--    <div class="faq-container__header-img">-->
<!--      <img class="faq-container__header-img-logo" mat-card-image src="assets/images/faq.png" alt="image">-->
<!--    </div>-->
  </div>
  <div class="faq-container__content">
    <div class="faq-container__content--question">
      <p>Can anybody without subscription plans list the property for rent?</p>
      <mat-icon class="faq-container__content--question-icon">expand_more</mat-icon>
    </div>
    <div class="faq-container__content--detail">
      <div class="faq-container__content--detail-question">
        <p class="faq-container__content--detail-question-text">How will the rental management benefit the landlords?</p>
        <mat-icon class="faq-container__content--detail-question-icon">expand_less</mat-icon>
      </div>
      <p class="faq-container__content--detail-question-answer">With the aid of crowdfunding websites, regular individuals can invest in startups. Startup investing platforms provide a selected list of businesses and startup ideas.</p>
    </div>
    <div class="faq-container__content--question content-margin">
      <p>How can you screen your tenants?</p>
      <mat-icon class="faq-container__content--question-icon third-margin">expand_more</mat-icon>
    </div>
    <div class="faq-container__content--question content-margin">
      <p>How do I avoid scam or wrong listing?</p>
      <mat-icon class="faq-container__content--question-icon fourth-margin">expand_more</mat-icon>
    </div>
    <div class="faq-container__content--question content-margin">
      <p>How do I report the wrong location listing?</p>
      <mat-icon class="faq-container__content--question-icon fifth-margin">expand_more</mat-icon>
    </div>
    <div class="faq-container__content--question content-margin">
      <p>What are the main benefit of having subscription plants for rental management?</p>
      <mat-icon class="faq-container__content--question-icon sixth-margin">expand_more</mat-icon>
    </div>
    <div class="faq-container__content--question content-margin">
      <p>How do I purchase the rental management software plan?</p>
      <mat-icon class="faq-container__content--question-icon seventh-margin">expand_more</mat-icon>
    </div>
  </div>
</div>
