.faq-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.faq-container__header {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}


.faq-container__header-title {
  display: flex;
  flex-direction: column;
  margin-left: 28%;
}

.faq-container__header-title-icon {
  color: #D7385E;
  margin-left: 38%;
  margin-top: 8%;
}

.faq-container__header-title-topic {
  font-size: 48px;
  margin: 0;
}

.faq-container__header-image {
  margin-top: 10px;
  margin-left: 60px;

}

.faq-container__header-img-logo {
  height: 150px;
  width: 150px;
  margin-left: 20%;
}

.faq-container__content {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-left: 20%;
  margin-right: 20%;
}

.faq-container__content--question {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(0,0,0,0.12);
  padding-left: 24px;
}

.faq-container__content--question-icon {
  margin-left: 40%;
  margin-top: 12px;
}

.faq-container__content--detail {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0,0,0,0.12);
  margin-top: 26px;
}

.faq-container__content--detail-question {
  display: flex;
  flex-direction: row;
  background-color: #D7385E;
}

.faq-container__content--detail-question-text {
  margin-left: 24px;
  color: #FFFFFF;
}

.faq-container__content--detail-question-icon {
  margin-left: 47%;
  margin-top: 12px;
}

.faq-container__content--detail-question-answer {
  margin-left: 24px;
  margin-right: 24px;
}




.content-margin {
  margin-top: 16px;
}
.third-margin {
  margin-left: 66%;
}
.fourth-margin {
  margin-left: 62%;
}
.fifth-margin {
  margin-left: 58.4%;
}
.sixth-margin {
  margin-left: 28%;
}
.seventh-margin {
  margin-left: 47%;
}


