<div class="footer-container">
  <div class="footer-container__header">
    <div class="footer-container__header-topic">
      <img class="footer-container__header-topic-img" mat-card-image src="assets/images/logo.png" alt="image">
      <p class="footer-container__header-topic-title">NewRentals</p>
    </div>
    <div class="footer-container__header-question">
      <h6 class="footer-container__header-question-tag">Ready to get started?</h6>
      <button mat-stroked-button color="accent">GET STARTED</button>
    </div>
  </div>
  <div class="footer-container__first-line">
    <img mat-card-image src="assets/images/line.png" alt="image">
  </div>
  <div class="footer-container__content">
    <div class="footer-container__content--about-us">
      <p class="footer-container__content--about-us__topic">ABOUT US</p>
      <p class="footer-container__content--about-us__detail">NewRental is SAS solution to find the property list for renting and listing with rental management features.</p>
    </div>
    <div class="footer-container__content--quick-links">
      <p class="footer-container__content--quick-links__topic">QUICK LINKS</p>
      <p class="footer-container__content--quick-links__list">Manage Rentals</p>
      <p class="footer-container__content--quick-links__list">List Property to Rent</p>
      <p class="footer-container__content--quick-links__list">FAQs</p>
      <p class="footer-container__content--quick-links__list">Contact Us</p>
    </div>
    <div class="footer-container__content--contact">
      <p class="footer-container__content--quick-links__topic">CONTACT</p>
      <div class="footer-container__content--contact-address">
        <mat-icon class="footer-container__content--contact-address-icon">place</mat-icon>
        <p class="footer-container__content--contact-address-location">Babesa, Thimphu</p>
      </div>
      <div class="footer-container__content--contact-address">
        <mat-icon class="footer-container__content--contact-address-icon">phone_in_talk</mat-icon>
        <p class="footer-container__content--contact-address-location">17384343</p>
      </div>
      <div class="footer-container__content--contact-address">
        <mat-icon class="footer-container__content--contact-address-icon">mail</mat-icon>
        <p class="footer-container__content--contact-address-location">Babesa, Thimphu</p>
      </div>
    </div>
    <div class="footer-container__content--newsletter">
      <p class="footer-container__content--quick-links__topic">NEWSLETTER</p>
       <mat-form-field appearance="outline">
         <mat-label> Enter your email</mat-label>
         <input matInput>
       </mat-form-field>
      <button mat-stroked-button color="accent">Subscribe</button>
    </div>
  </div>
  <div class="footer-container__first-line">
    <img mat-card-image src="assets/images/line.png" alt="image">
  </div>
  <div class="footer-container__footer">
    <div class="footer-container__footer-copy-right">
      <p>© 2022 NewRental. All rights reserved.</p>
    </div>
    <div class="footer-container__footer-icon">
      <mat-icon>whatshot</mat-icon>
      <mat-icon>facebook</mat-icon>
      <mat-icon> chat_bubble</mat-icon>
    </div>
  </div>
</div>
