 <div class="container">
   <div  class="container-header-container">
     <div class="container-header-container__title">
       <img class="footer-container__header-topic-img" mat-card-image src="assets/images/logo.png" alt="image">
       <h3 class="container-header-container__title-topic">NewRentals</h3>
     </div>
     <div class="container-header-container__menu">
       <div class="container-header-container__menu-list">
         <p class="nav-cursor">Rental Solution</p>
         <p class="nav-cursor">Pricing</p>
         <p class="nav-cursor">FAQs</p>
         <p class="nav-cursor">Contact Us</p>
       </div>
       <div class="container-header-container__btn">
         <p class="nav-cursor">Manage Rental</p>
         <button class="btn" mat-stroked-button color="accent">Log In</button>
         <button mat-raised-button color="accent">Sign Up</button>
       </div>
     </div>
   </div>
   <div class="container-home-container">
     <div class="container-home-container__detail">
       <h3 class="font">There is nothing like staying at home for real comfort.</h3>
        <div class="container-home-container__searchbar">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="my-place">place</mat-icon>
            <mat-icon matSuffix class="my-search">search</mat-icon>
            <input matInput placeholder="Search home by Location" class="helo"/>
          </mat-form-field>
        </div>
     </div>
   </div>
   <div class="container-apartment-container">
     <div class="container-apartment-container__symbol">
       <div class="container-apartment-container__symbol-icon">
         <mat-icon class="rental__icon-size">minimize</mat-icon>
         <mat-icon class="container-apartment-container__symbol-icon-home rental__icon-size" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
         <mat-icon class="rental__icon-size">minimize</mat-icon>
       </div>
       <h2 class="container-apartment-container__symbol-title">Featured Apartments</h2>
     </div>
   </div>
   <div class="container-card">
     <div class="container-card__row">
       <mat-card class="example-card">
         <img mat-card-image  src="assets/images/img1.jpeg" alt="Image">
         <div class="example-card__price">
           <p class="example-card__price-Nu">Nu. 9000/Month</p>
         </div>
         <mat-card-content class="container-card__row-content">
           <h4  class="container-card__row-content-title">Empty Room In Babesa</h4>
           <div class="container-card__row-content-detail">
             <div>
               <mat-icon class="container-card__row-content-icon"> place</mat-icon>
             </div>
             <p class="container-card__row-content-detail-description">Babesa, Highway Express, Thimphu</p>
           </div>
           <div class="container-card__row-content-detail">
             <mat-icon class="container-card__icon">share</mat-icon>
             <p class="container-card__row-content-detail-description">3 BeedRoom, 2 Toilets</p>
           </div>
           <div class="container-card__row-content-detail">
             <button class="container-card__row-content-detail-btn" mat-stroked-button color="accent">Apply for Tenant
               <span><mat-icon class="container-card__row-content-detail-icon">keyboard_arrow_right</mat-icon></span>
             </button>
             <mat-icon class="container-card__row-content-bookmark">bookmark_border</mat-icon>
           </div>
         </mat-card-content>
       </mat-card>
       <mat-card>
         <img mat-card-image src="assets/images/img2.jpeg" alt="Image">
         <div class="example-card__price">
           <p class="example-card__price-Nu">Nu. 9000/Month</p>
         </div>
         <mat-card-content class="container-card__row-content">
           <h4 class="container-card__row-content-title">Empty Room In Babesa</h4>
           <div class="container-card__row-content-detail">
             <mat-icon class="container-card__icon">place</mat-icon>
             <p class="container-card__row-content-detail-description">Babesa, Highway Express, Thimphu</p>
           </div>
           <div class="container-card__row-content-detail">
             <mat-icon class="container-card__icon">share</mat-icon>
             <p class="container-card__row-content-detail-description">3 BeedRoom, 2 Toilets</p>
           </div>
           <div class="container-card__row-content-detail">
             <button mat-stroked-button color="accent" class="container-card__row-content-detail-btn">Apply for Tenant
               <span><mat-icon class="container-card__row-content-detail-icon">keyboard_arrow_right</mat-icon></span>
             </button>
             <mat-icon class="container-card__row-content-bookmark">bookmark_border</mat-icon>
           </div>
         </mat-card-content>
       </mat-card>
       <mat-card class="img-card">
         <img mat-card-image src="assets/images/img3.jpeg" alt="Image">
         <div class="example-card__price">
           <p class="example-card__price-Nu">Nu. 9000/Month</p>
         </div>
         <mat-card-content class="container-card__row-content">
           <h4 class="container-card__row-content-title">Empty Room In Babesa</h4>
           <div class="container-card__row-content-detail">
             <mat-icon class="container-card__icon"> place</mat-icon>
             <p class="container-card__row-content-detail-description">Babesa, Highway Express, Thimphu</p>
           </div>
           <div class="container-card__row-content-detail">
             <mat-icon class="container-card__icon">share</mat-icon>
             <p class="container-card__row-content-detail-description">3 BeedRoom, 2 Toilets</p>
           </div>
           <div class="container-card__row-content-detail">
             <button mat-stroked-button color="accent" class="container-card__row-content-detail-btn">Apply for Tenant
               <span><mat-icon class="container-card__row-content-detail-icon">keyboard_arrow_right</mat-icon></span>
             </button>
             <mat-icon class="container-card__row-content-bookmark">bookmark_border</mat-icon>
           </div>
         </mat-card-content>
       </mat-card>
     </div>
     <div class="container-card__row">
       <mat-card class="example-card">
         <img mat-card-image src="assets/images/img4.jpeg" alt="Image">
         <div class="example-card__price">
           <p class="example-card__price-Nu">Nu. 9000/Month</p>
         </div>
         <mat-card-content class="container-card__row-content">
           <h4 class="container-card__row-content-title">Empty Room In Babesa</h4>
           <div class="container-card__row-content-detail">
             <div>
               <mat-icon class="container-card__row-content-icon"> place</mat-icon>
             </div>
             <p class="container-card__row-content-detail-description">Babesa, Highway Express, Thimphu</p>
           </div>
           <div class="container-card__row-content-detail">
             <mat-icon class="container-card__icon">share</mat-icon>
             <p class="container-card__row-content-detail-description">3 BeedRoom, 2 Toilets</p>
           </div>
           <div class="container-card__row-content-detail">
             <button mat-stroked-button color="accent" class="container-card__row-content-detail-btn">Apply for Tenant
               <span><mat-icon class="container-card__row-content-detail-icon">keyboard_arrow_right</mat-icon></span>
             </button>
             <mat-icon class="container-card__row-content-bookmark">bookmark_border</mat-icon>
           </div>
         </mat-card-content>
       </mat-card>
       <mat-card>
         <img mat-card-image src="assets/images/img5.jpeg" alt="Image">
         <div class="example-card__price">
           <p class="example-card__price-Nu">Nu. 9000/Month</p>
         </div>
         <mat-card-content class="container-card__row-content">
           <h4 class="container-card__row-content-title">Empty Room In Babesa</h4>
           <div class="container-card__row-content-detail">
             <mat-icon class="container-card__icon"> place</mat-icon>
             <p class="container-card__row-content-detail-description">Babesa, Highway Express, Thimphu</p>
           </div>
           <div class="container-card__row-content-detail">
             <mat-icon class="container-card__icon">share</mat-icon>
             <p class="container-card__row-content-detail-description">3 BeedRoom, 2 Toilets</p>
           </div>
           <div class="container-card__row-content-detail">
             <button mat-stroked-button color="accent" class="container-card__row-content-detail-btn">Apply for Tenant
               <span><mat-icon class="container-card__row-content-detail-icon">keyboard_arrow_right</mat-icon></span>
             </button>
             <mat-icon class="container-card__row-content-bookmark">bookmark_border</mat-icon>
           </div>
         </mat-card-content>
       </mat-card>
       <mat-card class="img-card">
         <img mat-card-image src="assets/images/img6.jpeg" alt="Image">
         <div class="example-card__price">
           <p class="example-card__price-Nu">Nu. 9000/Month</p>
         </div>
         <mat-card-content class="container-card__row-content">
           <h4 class="container-card__row-content-title">Empty Room In Babesa</h4>
           <div class="container-card__row-content-detail">
             <mat-icon class="container-card__icon"> place</mat-icon>
             <p class="container-card__row-content-detail-description">Babesa, Highway Express, Thimphu</p>
           </div>
           <div class="container-card__row-content-detail">
             <mat-icon class="container-card__icon">share</mat-icon>
             <p class="container-card__row-content-detail-description">3 BeedRoom, 2 Toilets</p>
           </div>
           <div class="container-card__row-content-detail">
             <button mat-stroked-button color="accent" class="container-card__row-content-detail-btn">
               Apply for Tenant
               <span><mat-icon class="container-card__row-content-detail-icon">keyboard_arrow_right</mat-icon></span>
             </button>
             <mat-icon class="container-card__row-content-bookmark">bookmark_border</mat-icon>
           </div>
         </mat-card-content>
       </mat-card>
     </div>
     <div class="container-home-container__button">
       <button mat-stroked-button color="accent">DISCOVER ALL
         <span><mat-icon class="container-card__row-content-detail-icon">keyboard_arrow_right</mat-icon></span>
       </button>
     </div>
   </div>
 </div>
