.container {
  background-origin: unset;
  display: flex;
  flex-direction: column;
  &-header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 68px;
    border: 6px solid ghostwhite;
    box-sizing: border-box;
    background-color: lightgrey;
    padding: 0 60px;
    border-radius: 10px;
    &__title {
      align-items: center;
      display: flex;
      flex-direction: row;
      color: palevioletred;
      padding: 4px;
      &-topic {
        margin-left: 8px;
      }
    }
    &__menu-list {
      display: flex;
      flex-direction: row;
      margin-left: 5%;
      place-content: stretch space-between;
      align-items: stretch;
      width: 300px;
      padding: 6px;
    }
    &__btn {
      display: flex;
      flex-direction: row;
      place-content: stretch space-between;
      width: 300px;
      padding: 6px;
      align-items: center;

    }
  }
  &-home-container {
    background-image: url('/assets/images/car.png');
    height: 450px;

    &__detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 38%;
      font-weight: 700;
      padding: 0 60px;

      &__searchbar {
        border: 1px solid red;
        @media screen and (max-width: 600px){
          margin: 0 12px;
          width: 24px;
        }
      }
    }

  }
  &-apartment-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    &__symbol {
      flex-direction: column;
      margin-left: -10%;
      &-icon {
        display: flex;
        flex-direction: row;
        margin-left: 48%;
        color: palevioletred;
        &-home {
          margin-bottom: 20px;
        }
      }
      &-title {
        margin-left: 40%;
        font-size: 48px;
        margin-top: 0;
      }
    }
  }
  &-card {
    flex-direction: column;
    width: 100%;
    background-color: white;
    &__row {
      display: flex;
      flex-direction: row;
      place-content: center space-between;
      align-items: center;
      margin-bottom: 24px;
      &-content {
        flex-direction: row;
        margin-left: 24px;
        &-detail {
          display: flex;
          flex-direction: row;
          align-items: center;
          &-icon {
          }
        }
      }
    }
  }
}
img {
  width: 100%;
  height: 148px;
  position: relative;
}


.example-card {
  margin-left: 116px;
}
.img-card {
  margin-right: 116px;
}

.my-search {
  background-color: #D7385E;
  cursor: pointer;
  color: white;
}

.my-place {
  color: #D7385E;
}

.container-card__row-content-bookmark {
  margin-left: 4px;
}
.container-card__row-content-detail-description {
  margin-left: 16px;
}

.container-home-container__button {
  margin-left: 45%;
}

.example-card__price {
  position: absolute;
  margin-top: 8px;
  margin-left: 16px;
  background-color: lightskyblue;
  width: 35%;
  height: 42px;
  padding: 6px;
}

.container-card__row-content-detail-icon {
  margin-bottom: -6px;
}
.container-header-container__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-cursor {
  cursor: pointer;
}
.font {
  font-size: 40px;
  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.mat-mdc-form-field {
  width: 500px;
}

.footer-container__header-topic-img {
  width: 38px;
  height: 38px;
  color: #D7385E;
}

.rental__icon-size {
  font-size: 45px;
  padding: 16px;
}
