<div class="profile-container">
  <div class="profile-container__header">
    <div class="profile-container__header--img">
      <img class="profile-container__header--img-one" mat-card-image src="assets/images/b-tringle.png" alt="image">
      <img class="profile-container__header--img-two" mat-card-image src="assets/images/s-tringle.png" alt="image">
    </div>
    <div class="profile-container__header--img-profile">
      <img mat-card-image src="assets/images/profile.png" alt="image">
      <p class="profile-container__header--img-profile-name">Sushmita</p>
      <p class="profile-container__header--img-profile-designation">Project Manager</p>
    </div>
    <div class="profile-container__header-topic">
      <img class="profile-container__header-topic-img" mat-card-image src="assets/images/dot.png" alt="image">
      <h2 class="profile-container__header-topic-title">Let’s talk</h2>
      <h5 class="profile-container__header-topic-detail">Just fill in the form and we’ll schedule a meeting</h5>
    </div>
    <div class="profile-container__header-img-circle">
      <img class="profile-container__header-img-circle--one" mat-card-image src="assets/images/s-circle.png" alt="image">
      <img class="profile-container__header-img-circle--two" mat-card-image src="assets/images/b-circle.png" alt="image">
    </div>
  </div>
  <div class="profile-container__form">
    <div class="profile-container__form-fill">
      <mat-form-field appearance="outline">
        <mat-label>Your name</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Your email address</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Your message</mat-label>
        <textarea matInput placeholder="Placeholder"></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent">SEND MESSAGE</button>
    </div>
    <img class="profile-container__form-img" mat-card-image src="assets/images/discussion.svg" alt="image">
<!--    <div class="profile-container__form-img">-->
<!--      <img mat-card-image src="assets/images/discussion.svg" alt="image">-->
<!--    </div>-->
  </div>
</div>
