<div class="rental-container">
  <div class="rental-container__header">
    <div class="rental-container__header-icon">
        <mat-icon>minimize</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <mat-icon>minimize</mat-icon>
    </div>
    <h2 class="rental-container__header-title">Rental Solution</h2>
  </div>
  <div class="rental-container__property">
    <div class="rental-container__property-detail">
      <span class="rental-container__property-detail-title">
        <h2>List property for</h2>
        <h2 class="rental-container__property-detail-titleColor">Rent </h2>
      </span>

      <div class="rental-container__property-detail--content">
        <mat-icon class="rental-container__property-detail--content-icon">circle</mat-icon>
        <p class="rental-container__property-detail--content-title">List apartment for Rent</p>
      </div>
      <div class="rental-container__property-detail--content">
        <mat-icon class="rental-container__property-detail--content-icon">circle</mat-icon>
        <p class="rental-container__property-detail--content-title">Receive Applications Online</p>
      </div>
      <div class="rental-container__property-detail--content">
        <mat-icon class="rental-container__property-detail--content-icon">circle</mat-icon>
        <p class="rental-container__property-detail--content-title">Screen Applications</p>
      </div>
    </div>
    <div class="rental-container__property-img">
      <img class="rental-container__property-img--img" mat-card-image src="assets/images/property.png" alt="image">
    </div>
  </div>
  <div class="rental-container__manager">
    <div class="rental-container__manager-detail-img">
      <img class="rental-container__manager-img--img" mat-card-image src="assets/images/property.png" alt="image">
    </div>
    <div class="rental-container__manager-detail">
     <span class="rental-container__property-detail-title">
        <h2>Manage</h2>
        <h2 class="rental-container__property-detail-titleColor">Tenants</h2>
      </span>
      <div class="rental-container__manager-detail--content">
        <mat-icon class="rental-container__manager-detail--content-icon">circle</mat-icon>
        <p class="rental-container__manager-detail--content-title">Receive Rent Payment</p>
      </div>
      <div class="rental-container__manager-detail--content">
        <mat-icon class="rental-container__manager-detail--content-icon">circle</mat-icon>
        <p class="rental-container__manager-detail--content-title">Manage Maintenance Request</p>
      </div>
      <div class="rental-container__manager-detail--content">
        <mat-icon class="rental-container__manager-detail--content-icon">circle</mat-icon>
        <p class="rental-container__manager-detail--content-title">Manage Properties</p>
      </div>
    </div>
  </div>
</div>
