<div class="rental-container">
  <div class="rental-container__header">
    <div class="rental-container__header-icon">
        <mat-icon class="rental-container__header-icon-size">minimize</mat-icon>
        <mat-icon class="rental-container__header-icon-size" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <mat-icon class="rental-container__header-icon-size">minimize</mat-icon>
    </div>
    <h2 class="rental-container__header-title">Rental Solution</h2>
  </div>
  <div class="rental-container__property">
    <div class="rental-container__property__title">
      <span class="rental-container__property__title-one">
        <h2>List property for</h2>
        <h2 class="rental-container__property__title-two">Rent </h2>
      </span>
      <div class="rental-container__property-content">
        <mat-icon class="rental-container__property-content-icon">circle</mat-icon>
        <p class="rental-container__property-content-title">List apartment for Rent</p>
      </div>
      <div class="rental-container__property-content">
        <mat-icon class="rental-container__property-content-icon">circle</mat-icon>
        <p class="rental-container__property-content-title">Receive Applications Online</p>
      </div>
      <div class="rental-container__property-content">
        <mat-icon class="rental-container__property-content-icon">circle</mat-icon>
        <p class="rental-container__property-content-title">Screen Applications</p>
      </div>
    </div>
    <div class="rental-container__property">
      <img class="rental-container__property-img-img" mat-card-image src="assets/images/property.png" alt="image">
    </div>
  </div>
  <div class="rental-container__manager">
    <div class="rental-container__manager-img">
      <img class="rental-container__manager-img--img" mat-card-image src="assets/images/property.png" alt="image">
    </div>
    <div class="rental-container__manager-title">
     <span class="rental-container__manager-title-one">
        <h2>Manage</h2>
        <h2 class="rental-container__manager-title-two">Tenants</h2>
      </span>
      <div class="rental-container__manager-content">
        <mat-icon class="rental-container__manager-content-icon">circle</mat-icon>
        <p class="rental-container__manager-content-title">Receive Rent Payment</p>
      </div>
      <div class="rental-container__manager-content">
        <mat-icon class="rental-container__manager-content-icon">circle</mat-icon>
        <p class="rental-container__manager-content-title">Manage Maintenance Request</p>
      </div>
      <div class="rental-container__manager-content">
        <mat-icon class="rental-container__manager-content-icon">circle</mat-icon>
        <p class="rental-container__manager-content-title">Manage Properties</p>
      </div>
    </div>
  </div>
</div>
