@import 'src/assets/styles/variables';

.rental-container {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.rental-container__header {
  display: flex;
  flex-direction: column;
  margin-left: 26%;
  @media screen and (max-width: 600px) {
    margin-left: 12%;
  }
}

.rental-container__header-icon {
  color: $Cerise;
  margin-left: 22%;
  margin-top: 8%;
}

.rental-container__header-text {
  font-size: 48px;
  @media screen and (max-width: 600px) {
    font-size: 48px;
  }
}

.rental-container__rental {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
}

.rental-container__rental-provider {
  display: flex;
  flex-direction: column;
  margin-left: 113px;
  border: 2px solid $whitesmoke;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    margin-right: 14px;
  }
}
.rental-container__rental-provider-topic {
  background-color: $whitesmoke;
  height: 16%;
  padding-bottom: 8px;
}

.rental-container__rental-provider-title {
  font-size: 20px;
  margin-left: 28px;
  color: $black-1;
}

.rental-container__rental-provider-container {
  display: flex;
  flex-direction: column;
  width: 82%;
  @media screen and (max-width: 600px) {
  }
}

.rental-container__rental-provider-container-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rental-container__rental-provider-container-detail--icon {
  color: $Cerise;
}

.rental-container__rental-provider-container-detail--position {
  margin-left: 8px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: $black-6;
}

.rental-container__rental-provider-container-detail--description {
  margin-left: 30px;
  color: $black-6;
}

.rental-container__rental-new {
  display: flex;
  flex-direction: column;
  border: 2px solid $Cerise;
  width: 38%;
  @media screen and (max-width: 600px) {
    width: 92%;
    margin-left: 14px;
    margin-right: 14px;
  }
}
.rental-container__rental-new-topic {
  background-color: $Cerise;
  height: 16%;
  padding-bottom: 8px;
}

.rental-container__rental-new-provider-title {
  font-size: 20px;
  color: $white;
  margin-left: 28px;
}

.rental-container__rental-new-provider-container {
  display: flex;
  flex-direction: column;
  width: 82%;
}

.rental-container__rental-new-provider-container-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rental-container__rental-new-provider-container-detail--icon {
  color: $Cerise;
}

.rental-container__rental-new-provider-container-detail--position {
  margin-left: 8px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: $black-6;
}

.rental-container__rental-new-provider-container-detail--description {
  margin-left: 30px;
  color: $black-6;
}

.bg-color {
  background-color: $whitesmoke;
  width: 100%;
  padding-bottom: 8px;
}

.rental__icon-size {
  font-size: 45px;
  padding: 16px;
  @media screen and (max-width: 600px) {
    font-size: 30px;
    padding: 4px;
  }
}
