<div class="rental-container">
  <div class="rental-container__header">
    <div class="rental-container__header-icon">
      <mat-icon>minimize</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <mat-icon>minimize</mat-icon>
    </div>
    <h2 class="rental-container__header-text">Why choose us over others?</h2>
  </div>
  <div class="rental-container__rental">
    <div class="rental-container__rental-provider">
      <div class="rental-container__rental-provider-topic">
        <h4 class="rental-container__rental-provider-title">Others Providers</h4>
      </div>
      <div class="rental-container__rental-provider-container">
        <div class="rental-container__rental-provider-container-detail">
          <mat-icon class="rental-container__rental-provider-container-detail--icon">highlight_off</mat-icon>
          <h5 class="rental-container__rental-provider-container-detail--position">Map Based Locaton</h5>
        </div>
        <p class="rental-container__rental-provider-container-detail--description">Fixed list, doesn’t show direction.</p>
      </div>
      <div class="rental-container__rental-provider-container bg-color">
        <div class="rental-container__rental-provider-container-detail">
          <mat-icon class="rental-container__rental-provider-container-detail--icon">highlight_off</mat-icon>
          <h5 class="rental-container__rental-provider-container-detail--position">Rental Management</h5>
        </div>
        <p class="rental-container__rental-provider-container-detail--description">Currently there is no solution to manage rental</p>
      </div>
      <div class="rental-container__rental-provider-container">
        <div class="rental-container__rental-provider-container-detail">
          <mat-icon class="rental-container__rental-provider-container-detail--icon">highlight_off</mat-icon>
          <h5 class="rental-container__rental-provider-container-detail--position">One stop solution</h5>
        </div>
        <p class="rental-container__rental-provider-container-detail--description">There is no one stop solution to rent and manage tenants at the same time.</p>
      </div>
    </div>
    <div class="rental-container__rental-new">
      <div class="rental-container__rental-new-topic">
        <h4 class="rental-container__rental-new-provider-title">New Rental</h4>
      </div>
      <div class="rental-container__rental-new-provider-container">
        <div class="rental-container__rental-new-provider-container-detail">
          <mat-icon class="rental-container__rental-new-provider-container-detail--icon">check_circle_outline</mat-icon>
          <h5 class="rental-container__rental-new-provider-container-detail--position">Map Based Locaton</h5>
        </div>
        <p class="rental-container__rental-new-provider-container-detail--description">Location based rent listing and easily able to get directions.</p>
      </div>
      <div class="rental-container__rental-new-provider-container bg-color">
        <div class="rental-container__rental-new-provider-container-detail">
          <mat-icon class="rental-container__rental-new-provider-container-detail--icon">check_circle_outline</mat-icon>
          <h5 class="rental-container__rental-new-provider-container-detail--position">Rental Management</h5>
        </div>
        <p class="rental-container__rental-new-provider-container-detail--description">Manage Rents and tenants and also screen tenant applicants.</p>
      </div>
      <div class="rental-container__rental-new-provider-container">
        <div class="rental-container__rental-new-provider-container-detail">
          <mat-icon class="rental-container__rental-new-provider-container-detail--icon">check_circle_outline</mat-icon>
          <h5 class="rental-container__rental-new-provider-container-detail--position">One stop solution</h5>
        </div>
        <p class="rental-container__rental-new-provider-container-detail--description">One stop solution to rent and manage tenants at hte same time.</p>
      </div>
    </div>
  </div>
</div>
