<div class="rental-container">
  <div class="rental-container__header">
    <div class="rental-container__header-icon">
      <mat-icon class="rental-container__header-icon-size">minimize</mat-icon>
      <mat-icon class="rental-container__header-icon-size" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <mat-icon class="rental-container__header-icon-size">minimize</mat-icon>
    </div>
    <h2 class="rental-container__header-text">Why choose us over others?</h2>
  </div>
  <div class="rental-container__content">
    <div class="rental-container__content-provider">
      <div class="rental-container__content-provider-topic">
        <h4 class="rental-container__content-provider-title">Others Providers</h4>
      </div>
      <div class="rental-container__list">
        <div class="rental-container__list-detail">
          <mat-icon class="rental-container__list-detail-icon">highlight_off</mat-icon>
          <h5 class="rental-container__list-detail-position">Map Based Locaton</h5>
        </div>
        <p class="rental-container__list-detail-description">Fixed list, doesn’t show direction.</p>
      </div>
      <div class="rental-container__list bg-color">
        <div class="rental-container__list-detail">
          <mat-icon class="rental-container__list-detail-icon">highlight_off</mat-icon>
          <h5 class="rental-container__list-detail-position">Rental Management</h5>
        </div>
        <p class="rental-container__list-detail-description">Currently there is no solution to manage rental</p>
      </div>
      <div class="rental-container__list">
        <div class="rental-container__list-detail">
          <mat-icon class="rental-container__list-detail-icon">highlight_off</mat-icon>
          <h5 class="rental-container__list-detail-position">One stop solution</h5>
        </div>
        <p class="rental-container__list-detail-description">There is no one stop solution to rent and manage tenants at the same time.</p>
      </div>
    </div>
    <div class="rental-container__new">
      <div class="rental-container__new-topic">
        <h4 class="rental-container__new-topic-title">New Rental</h4>
      </div>
      <div class="rental-container__new-list">
        <div class="rental-container__new-list-detail">
          <mat-icon class="rental-container__new-list-detail-icon">check_circle_outline</mat-icon>
          <h5 class="rental-container__new-list-detail-position">Map Based Locaton</h5>
        </div>
        <p class="rental-container__new-list-detail-description">Location based rent listing and easily able to get directions.</p>
      </div>
      <div class="rental-container__new-list bg-color">
        <div class="rental-container__new-list-detail">
          <mat-icon class="rental-container__new-list-detail-icon">check_circle_outline</mat-icon>
          <h5 class="rental-container__new-list-detail-position">Rental Management</h5>
        </div>
        <p class="rental-container__new-list-detail-description">Manage Rents and tenants and also screen tenant applicants.</p>
      </div>
      <div class="rental-container__new-list">
        <div class="rental-container__new-list-detail">
          <mat-icon class="rental-container__new-list-detail-icon">check_circle_outline</mat-icon>
          <h5 class="rental-container__new-list-detail-position">One stop solution</h5>
        </div>
        <p class="rental-container__new-list-detail-description">One stop solution to rent and manage tenants at hte same time.</p>
      </div>
    </div>
  </div>
</div>
