$white: #FFFFFF;
$Cerise: #D7385E;
$black: #000000;
$black-1: rgba($black,1);
$black-6: rgba($black,0.6);
$whitesmoke: #F5F5F5;
$black-5: rgba($black,0.5);
$black-87: rgba($black,0.87);
$gray: #ccc;
$grayscale: #999;
$oyster-bay: #D4F1F4;
$pink: #FFBABA;
$black-64: rgba($black,0.64);
$ghost-white: #F8F8FF;
$palevioletred: #DB7093;
$gainsboro: #DADADA;
$ball-blue: #1DB2B6;

